* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
}

button {
    cursor: pointer;
}

.app {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    position: relative;
    width: fit-content;
}

.header::after {
    content: "Russia";
    position: absolute;
    font-size: 16px;
    font-weight: 200;
    color: white;
    top: 0;
    left: 100%;
}

.user {
    height: fit-content;
    display: flex;
    justify-content: space-between;   
}

.user-profile {
    display: flex;
    margin: 3vh 0;
    align-items: center;
}

.profile-img {
    height: 8vh;
    aspect-ratio: 1/1;
    background: red;
    border-radius: 50%;
}

.user-info {
    margin: 0 3vh;
}

.username {
    font-size: 24px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.add-btn {
    height: 5vh;
    aspect-ratio: 5/2;
    margin: 4vh 0;
    font-size: 36px;
    font-weight: 100;
    background: transparent;
    color: white;
    border: 3px solid white;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.3s;
}

.add-btn:hover {
    background: white;
    color: black;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, calc((1200px - 20px)/3));
    gap: 10px;
}

.post {
    border-radius: 12px;
    position: relative;
    background: white;
}

.post-img {
    position: relative;
    width: calc((1200px - 20px)/3);
    aspect-ratio: 1/1;
    border-radius: 12px 12px 0 0;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background: url("../assets/icons/icons8-trash-24.png");
    border: none;
    outline: none;
}

.post-info {
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 2vh 2vh 3vh;
    border-radius: 0 0 12px 12px;
}

.post-header {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.like-btn {
    position: relative; 
    width: 25px; 
    height: 22px;
    cursor: pointer; 
}

.like-btn::before, .like-btn::after {
    position: absolute; 
    content: ""; 
    left: 0px; 
    top: 5; 
    width: 25px; 
    height: 40px;
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
    border: 1px solid black;
}

.like-btn::after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :50% 55%;
    height: 16px;
    border-bottom: none;
}

.liked::before,
.liked::after {
    background: red;
    border: none;
}