* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
}

.app {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    position: relative;
    width: fit-content;
}

.header::after {
    content: "Russia";
    position: absolute;
    font-size: 16px;
    font-weight: 200;
    color: white;
    top: 0;
    left: 100%;
}

.user {
    height: fit-content;
    display: flex;
    justify-content: space-between;   
}

.user-profile {
    display: flex;
    margin: 3vh 0;
    align-items: center;
}

.profile-img {
    height: 8vh;
    aspect-ratio: 1/1;
    background: red;
    border-radius: 50%;
}

.user-info {
    margin: 0 3vh;
}

.username {
    font-size: 24px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.add-btn {
    height: 5vh;
    aspect-ratio: 5/2;
    margin: 4vh 0;
    font-size: 36px;
    font-weight: 100;
    background: transparent;
    color: white;
    border: 3px solid white;
    font-family: Arial, Helvetica, sans-serif;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, calc((1200px - 20px)/3));
    gap: 10px;
}

.post {
    background: palegreen;
    border-radius: 12px;
    position: relative;
}

.post-img {
    position: relative;
    width: calc((1200px - 20px)/3);
    aspect-ratio: 1/1;
    background: palevioletred;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: -10px;
}

.post-info {
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 3vh 2vh;
    border-radius: 0 0 12px 12px;
}

.post-header {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}