$bgColor: rgb(10, 10, 10);
$textColor: rgb(250, 250, 250);
$detailsColor: rgb(170, 170, 170);

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: $bgColor;
    color: $textColor;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    height: 80px;
}

.header {
    font-size: 36px;
    position: relative;
    width: fit-content;

    &::after {
        content: "*";
        position: absolute;
        font-size: 16px;
        font-weight: 200;
        color: $textColor;
        top: 0;
        left: 100%;
    }
}

.user {
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.user-profile {
    display: flex;
    align-items: center;
}

#profile-img {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.username {
    font-size: 24px;
    letter-spacing: 2px;
}

.add-btn {
    aspect-ratio: 5/2;
    font-size: 36px;
    font-weight: 100;
    background: transparent;
    color: $textColor;
    border: 3px solid $textColor;
    transition-duration: 0.3s;

    &:hover {
        background: $textColor;
        color: $bgColor;
    }
}

.gallery {
    display: flex;
    flex: 1;
    gap: 10px;
}

.post {
    border-radius: 12px;
    position: relative;
    background: $textColor;
    max-width: 400px;
}

.post-img {
    position: relative;
    width: 100%;
    height: 400px;
    aspect-ratio: 1/1;
    border-radius: 12px 12px 0 0;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 25px;
    font-weight: bold;
    color: $textColor;
    background: url("../images/icons/icons8-trash-24.png");
    border: none;
    outline: none;
}

.post-info {
    color: $bgColor;
    display: flex;
    justify-content: space-between;
    padding: 2vh 2vh 3vh;
    border-radius: 0 0 12px 12px;
}

.post-header {
    font-size: 30px;
    font-weight: bold;
}

.like-btn {
    position: relative;
    cursor: pointer;
    border: 3px solid pink;

    &::after {
        content: " ";
        width: 45px;
        height: 45px;
        position: absolute;
        top: -5px;
        left: -25px;
        background-image: url('../images/svg/heart-svgrepo-com\ \(1\).svg');
    }
}

.like-btn:checked {
    &::after {
        background-image: url('../images/svg/heart-liked.svg');
    }
}

.empty-heart {
    stroke: #3b3b3b;
    stroke-width: 5;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

#add-new-pop-up {
    width: 99%;
    height: 99%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8.8px);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

@media only screen and (min-width: 451px) {
    .app {
        width: 1200px;
        margin: 0 auto;
    }

    #profile-img {
        height: 80px;
    }

    .user-info {
        margin-left: 30px;
    }

    .user-profile {
        margin: 1rem 0;
    }

    .add-btn {
        height: 3rem;
        margin: auto 0;
    }
}

@media only screen and (min-width: 601px) {

    .add-new-container {
        display: flex;
        flex-direction: column;
        align-items: end;
        transform: translateX(65px);
    }

    #close-modal-btn {
        font-size: 5vh;
        background: transparent;
        color: $textColor;
        font-weight: bold;
        width: fit-content;
        transform: translateX(5vh);
        height: fit-content;
        border: none;
        outline: none;
        position: relative;
        font-weight: 100;
    }

    .add-new-form {
        width: 120%;
        padding: 4vh 3vh;
        border-radius: 12px;
        height: fit-content;
        background: $textColor;
        display: flex;
        flex-direction: column;
    }

    .add-new-form div {
        margin: 2vh 0;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .add-new-form input {
        height: 5vh;
        border: none;
        border-bottom: 1px solid $detailsColor;
        outline: none;
        font-size: 16px;
        color: $bgColor;

        &::placeholder {
            color: $detailsColor;
        }
    }

    .add-new-form_header {
        font-size: 4vh;
    }

    #create-new-btn {
        width: 100%;
        height: 5vh;
        border: 1px solid $detailsColor;
        color: $detailsColor;
        background: transparent;
        font-size: 20px;
        margin-top: 2vh;
        transition-duration: 0.5s;

        &:hover {
            background: $bgColor;
            color: $textColor;
        }
    }
}