:root {
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: light-dark(#121212, #efefec);
    background-color: light-dark(#efedea, #121212);
}

.root {
    padding: 24px;
}

.container {

}